* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --text-color: #050315;
    --background-color: #fbfbfe;

    --primary-light: #3BEBFF;
    --secondary-light: #80FFB0;

    --stat-card-bg-1: #EEEEEE;
    --stat-card-bg-2: #C5D5E8;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfe;
    color: #050315;
}

.container {
    margin: 0 auto;
    padding: 18px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: sticky;
    top: 0;
    box-shadow: hsla(0, 0, 0, 0.5) 0px 2px 4px;
}

.top-nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 8px;
}

.top-nav-left a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 18px;
}

.top-nav-left a:hover {
    color: var(--primary-color);
}

.top-nav-center {
    display: flex;
    align-items: center;
    gap: 8px;

}

.top-nav-center a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: regular;
    font-size: 16px;
}

.top-nav-center a:first-child {
    background-color: var(--secondary-light);
    padding: 8px 8px 8px 16px;
    border-radius: 16px 0px 0px 16px;
}

.top-nav-center a:last-child {
    background-color: var(--primary-light);
    padding: 8px 16px 8px 8px;
    border-radius: 0px 16px 16px 0px;
}

.top-nav-center a:hover {
    color: var(--primary-color);
}

.top-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 8px;
}

.top-nav-right a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 16px;
    margin-left: 16px;
}



.container-main {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 6px 16px 6px;
    height: 90vh;
}

.container-home .left {
    padding: 16px;
    /* background-color: var(--primary-light); */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 128px;
}

.details {
    margin: auto;
}


.name {
    font-size: 4em;
    font-weight: bolder;
}

.course {
    font-size: 1.5em;
    font-weight: bold;
}

.bio {
    font-size: 1.2em;
    font-weight: 400;
}

.container-home .right {
    padding: 16px;
    /* background-color: var(--secondary-light); */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 128px;
}


.parent1 {
    position: absolute;
    bottom: 5%;
    width: 60%;
    height: 60vh;
    background: transparent;
    overflow: hidden;
}

.magicpattern1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M873 609Q759 718 666.5 818.5T488 794q-86-125-239-136T79.5 494Q63 341 240 349t236-19.5Q535 302 646.5 293t226 99Q987 500 873 609Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23F9D4D4%22 d=%22M873 609Q759 718 666.5 818.5T488 794q-86-125-239-136T79.5 494Q63 341 240 349t236-19.5Q535 302 646.5 293t226 99Q987 500 873 609Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.parent2 {
    position: absolute;
    bottom: 5%;
    width: 60%;
    height: 60vh;
    background: transparent;
    overflow: hidden
}

.magicpattern2 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M825 646.5Q849 793 697.5 776T425 799q-121 40-205-63.5t-54.5-225q29.5-121.5 128-160t188-145.5Q571 98 708 154.5t115 201q-22 144.5 2 291Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23BCFDF0%22 d=%22M825 646.5Q849 793 697.5 776T425 799q-121 40-205-63.5t-54.5-225q29.5-121.5 128-160t188-145.5Q571 98 708 154.5t115 201q-22 144.5 2 291Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.parent3 {
    position: absolute;
    top: 20%;
    width: 50%;
    aspect-ratio: 1 / 1;
    background: transparent;
    overflow: hidden
}


.dpImage {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}




.stats,
.mobile-projects,
.web-projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 128px 5% 16px 5%;
}

.stats-title,
.mobile-projects-title,
.web-projects-title {
    margin-bottom: 32px;
}

.stats-container,
.mobile-projects-container,
.web-projects-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding: 16px 5% 16px 5%;
}

.mobile-project-card,
.web-project-card {
    background-color: violet;
    height: 70vh;
    aspect-ratio: 2 / 1;
}

.stat-card {
    background-color: var(--stat-card-bg-1);
    height: 70vh;
    aspect-ratio: 1 / 1;
    padding: 64px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.stat-card .language {
    display: flex;
    gap: 16px;
    align-items: center;
}

.stat-card .language-info {
    display: flex;
    align-items: center;
    width: 25%;
}

.stat-card .language .ic-color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.stat-card .language span {
    font-size: 1.2em;
    font-weight: 400;
}


.stat-card .language .stat-bar {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

 .stat-bar .stat-progress {
    height: 32px;
    border-radius: 4px 16px 16px 4px;
}

.stat-card .language .stat-bar span {
    font-size: 1.2em;
    font-weight: 400;
}


/* Java (first .language block) */
.language:nth-of-type(1) .ic-color {
    background-color: #007396; /* Java blue */
}
.language:nth-of-type(1) .stat-progress {
    background-color: #007396;
}

/* HTML (second .language block) */
.language:nth-of-type(2) .ic-color {
    background-color: #f34f29; /* HTML orange */
}
.language:nth-of-type(2) .stat-progress {
    background-color: #f34f29;
}

/* CSS (third .language block) */
.language:nth-of-type(3) .ic-color {
    background-color: #519aba; /* HTML orange */
}
.language:nth-of-type(3) .stat-progress {
    background-color: #519aba;
}

/* Javascript (fourth .language block) */
.language:nth-of-type(4) .ic-color {
    background-color: #F0DB4F; /* HTML orange */
}
.language:nth-of-type(4) .stat-progress {
    background-color: #F0DB4F;
}

/* PHP (fifth .language block) */
.language:nth-of-type(5) .ic-color {
    background-color: #777bb3; /* HTML orange */
}
.language:nth-of-type(5) .stat-progress {
    background-color: #777bb3;
}

/* Python (sixth .language block) */
.language:nth-of-type(6) .ic-color {
    background-color: #fed851; /* HTML orange */
}
.language:nth-of-type(6) .stat-progress {
    background-color: #fed851;
}
